@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.main-container {
    text-align: center;
}

h1 {
    text-align: center;
    color: #999;
}

h3 {
    color: grey;
    font-size: 0.9rem;
}