@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.main-container {
    text-align: center;
}

h1 {
    text-align: center;
    color: #999;
}

h3 {
    color: grey;
    font-size: 0.9rem;
}

/* styling the container of the circle divs */
.progress-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

/* styling the faint grey line that is going through the circles */
.progress-container::before {
    content: '';
    background-color: #eecaca;
    position: absolute;
    top: 20%;
    left: 5px;
    height: 2px;
    width: 95%;
    z-index: -1;
    transform: translateY(-50%);
}

.progress {
    background-color: #f9004d;
    position: absolute;
    top: 20%;
    left: 5px;
    height: 2px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.progress-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* styling the circles */
.circle {
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: .4s ease;
}

.active {
    border-color: #f9004d;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.button {
    background-color: #f9004d;
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    font-size: 14px;
}

.button:active {
    transform: scale(0.97);
}

.button:focus {
    outline: 0;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #e0e0e0;
}